<% if user_signed_in? %>
  <% content_for :title, "Friends" %>

  <table class="table table-striped table-ho">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td>
          <%= link_to friend.first_name + " " + friend.last_name, friend %>

        </td>

        <td>
          <%= friend.email %>

        </td>
        <td>
          <%= friend.phone %>

        </td>
        <td>
          <%= friend.twitter %>
        </td>

        <td>
          <div class="d-flex justify-content-between align-items-center">
            <%= button_to "Delete", friend, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
          </div>
        </td>
      </tr>

    <% end %>


    </tbody>
  </table>
  <%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
<% else %>
  <h1>This is homepage</h1>
  <p>Need to sign in to show friends</p>
<% end %>